@media (max-width: 450px) {
  body {
    max-width: 450px;
  }
  
  header {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .logo-container {
    margin: 44px auto 100px;
  }

  nav ul {
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;  
  }

  nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a[href="#cadastro"] {
    margin-top: 51.5px;
    width: 151px;
  }
}